<div class="calendar">
    <button class="day" id="day1">1</button>
    <div id="day1Modal" class="modal">
        <div class="modal-content">
            1
            <span class="close">&times;</span>
            <br>
            {{ page.day1 }}
        </div>
    </div>


    <button class="day" id="day2">2</button>
    <div id="day2Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            2
            <span class="close">&times;</span>
            <br>
            {{ page.day2 }}
        </div>
    </div>

    <button class="day" id="day3">3</button>
    <div id="day3Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            3
            <span class="close">&times;</span>
            <br>
            {{ page.day3 }}

        </div>
    </div>

    <button class="day" id="day4">4</button>
    <div id="day4Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            4
            <span class="close">&times;</span>
            <br>
            {{ page.day4 }}
        </div>
    </div>
    <button class="day" id="day5">5</button>
    <div id="day5Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            5
            <span class="close">&times;</span>
            <br>
            {{ page.day5 }}
        </div>
    </div>
    <button class="day" id="day6">6</button>
    <div id="day6Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            6
            <span class="close">&times;</span>
            <br>
            {{ page.day6 }}
        </div>
    </div>
    <button class="day" id="day7">7</button>
    <div id="day7Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            7
            <span class="close">&times;</span>
            <br>
            {{ page.day7 }}
        </div>
    </div>
    <button class="day" id="day8">8</button>
    <div id="day8Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            8
            <span class="close">&times;</span>
            <br>
            {{ page.day8 }}
        </div>
    </div>
    <button class="day" id="day9">9</button>
    <div id="day9Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            9
            <span class="close">&times;</span>
            <br>
            {{ page.day9 }}
        </div>
    </div>
    <button class="day" id="day10">10</button>
    <div id="day10Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            10
            <span class="close">&times;</span>
            <br>
            {{ page.day10 }}
        </div>
    </div>
    <button class="day" id="day11">11</button>
    <div id="day11Modal" class="modal">
        <div class="modal-content">
            11
            <span class="close">&times;</span>
            <br>
            {{ page.day11 }}
        </div>
    </div>


    <button class="day" id="day12">12</button>
    <div id="day12Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            12
            <span class="close">&times;</span>
            <br>
            {{ page.day12 }}
        </div>
    </div>

    <button class="day" id="day13">13</button>
    <div id="day13Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            13
            <span class="close">&times;</span>
            <br>
            {{ page.day13 }}

        </div>
    </div>

    <button class="day" id="day14">14</button>
    <div id="day14Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            14
            <span class="close">&times;</span>
            <br>
            {{ page.day14 }}
        </div>
    </div>
    <button class="day" id="day15">15</button>
    <div id="day15Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            15
            <span class="close">&times;</span>
            <br>
            {{ page.day15 }}
        </div>
    </div>
    <button class="day" id="day16">16</button>
    <div id="day16Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            16
            <span class="close">&times;</span>
            <br>
            {{ page.day16 }}
        </div>
    </div>
    <button class="day" id="day17">17</button>
    <div id="day17Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            17
            <span class="close">&times;</span>
            <br>
            {{ page.day17 }}
        </div>
    </div>
    <button class="day" id="day18">18</button>
    <div id="day18Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            18
            <span class="close">&times;</span>
            <br>
            {{ page.day18 }}
        </div>
    </div>
    <button class="day" id="day19">19</button>
    <div id="day19Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            19
            <span class="close">&times;</span>
            <br>
            {{ page.day19 }}
        </div>
    </div>
    <button class="day" id="day20">20</button>
    <div id="day20Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            20
            <span class="close">&times;</span>
            <br>
            {{ page.day20 }}
        </div>
    </div>
    <button class="day" id="day21">21</button>
    <div id="day1Modal" class="modal">
        <div class="modal-content">
            21
            <span class="close">&times;</span>
            <br>
            {{ page.day21 }}
        </div>
    </div>

    <button class="day" id="day22">22</button>
    <div id="day22Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            22
            <span class="close">&times;</span>
            <br>
            {{ page.day22 }}
        </div>
    </div>

    <button class="day" id="day23">23</button>
    <div id="day23Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            23
            <span class="close">&times;</span>
            <br>
            {{ page.day23 }}
        </div>
    </div>
    <br>
    <button class="day" id="day24" style="min-width:250px;min-height:250px;">24</button>
    <div id="day24Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            24
            <span class="close">&times;</span>
            <br>
            {{ page.day24 }}
        </div>
    </div>
</div>

<script type="text/javascript"
    src="{{ '/assets/js/btn_calendar.js?v=' | append: site.github.build_revision | relative_url }}">
    </script>