<div class="calendar">
    <button class="day" id="day1">1</button>
    <div id="day1Modal" class="modal">
        <!-- Modal content -->

        <div class="modal-content">
            <h3>1. Türchen</h3>
            <span class="close">&times;</span>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link text</a>
        </div>
    </div>

    <!-- <br> -->

    <button class="day" id="day2">2</button>
    <div id="day2Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <button class="day" id="day3">2</button>
    <div id="day3Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <button class="day" id="day30">30</button>
    <div id="day30Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <button class="day" id="day32">32</button>
    <div id="day32Modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<script type="text/javascript"
    src="{{ '/assets/js/btn_calendar.js?v=' | append: site.github.build_revision | relative_url }}"></script>